<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.lifePan.web.persistence.mysql.mybatis.mapper.UserMapper">
	<select id="selectOne" resultType="user">
		SELECT userNo, userId, pswd, name, studentNo, registDate
		FROM user
		WHERE userId = #{userId} 
	</select>
	
	<select id="selectOneForUserNo" resultType="user">
		SELECT userNo, userId, pswd, name, studentNo, registDate
		FROM user
		WHERE userNo = #{userNo} 
	</select>
	
	<insert id="InsertUser"  >
	    INSERT INTO user (
      userId
      ,pswd 
      , name
      ,studentNo
      ,registDate 
    ) VALUES (
      #{userId} 
      ,#{pswd}
      ,#{name}
      ,#{studentNo}
      ,now() 
    ) 
    
    
	</insert>
</mapper>